* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

img {
    width: 100%;
}

.banner-image {
    background-image: url(./assets/main-bg.jpg);
    background-size: cover;
}

.btn {
    padding: 6px 50px;
    text-transform: uppercase;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-item {
    margin: 0 10px;
}

.section-games {
    background-image: url(./assets/the-games-bg.jpg);
    background-size: cover;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.heading,
.p-heading,
.btn {
    margin-top: 50px;
}

.games-content {
    bottom: 11em;
    margin-right: 1em;
}

.section-features {
    background-image: url(./assets/features.jpg);
    background-size: cover;
}

.features-container {
  width: 400px;
  left: 25%;
}

.features-list {
  margin-top: 40px;
}

.section-requirements {
    background-image: url(./assets/requirements.png);
    background-size: cover;
}

.requirements-container {
    width: 50%;
}

.col-4 {
    padding: 12px;
}

.requirements-content {
    top: 10%;
    left: 20%;
}

.requirements-systems {
    margin-top: 50px;
    top: 10%;
    left: 20%;
}

.section-topscore {
    background-color: #000;
    background-image: linear-gradient(#000, rgba(133, 133, 133, 0.6));
    background-image: url(./assets/top-score-bg.png);
    background-size: cover;
}

.topscore-container {
  margin: 0 auto;
}

.topscore-content {
    text-align: center;
    top: 25px;
}

.team-boxed {
    color:#313437;
  }
  
  .team-boxed p {
    color:#7d8285;
  }
  
  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;
  }
  
  .team-boxed .people {
    padding:50px 0;
  }
  
  .team-boxed .item {
    text-align:center;
  }
  
  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:rgb(41, 41, 41);
    margin-bottom:30px;
  }
  
  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:160px;
  }
  
  .team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
  }
  
  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }  