* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.banner-image {
    background-image: url(./assets/main-bg.jpg);
    background-size: cover;
}

.btn {
    padding: 6px 50px;
    text-transform: uppercase;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-item {
    margin: 0 10px;
}

.section-games {
    background-image: url(./assets/the-games-bg.jpg);
    background-size: cover;
}

.games-content {
    bottom: 11em;
    margin-right: 1em;
}

.games-content, .carousel {
    /* margin-top: 5em; */
}

.section-features {
    background-image: url(./assets/features.jpg);
    background-size: cover;
}

.section-requirements {
    background-image: url(./assets/requirements.png);
    background-size: cover;
}

.requirements-container {
    width: 50%;
}

.col-4 {
    padding: 12px;
}

.requirements-content {
    top: 10%;
    left: 20%;
}

.requirements-systems {
    margin-top: 50px;
    top: 10%;
    left: 20%;
}